.main-dashboard {
    display: block;
    background-color: #fff;
    
}

.page-head {
    width: 100%;
    max-width: 1200px;
    margin: 5px auto;
}

.summary-tracker {
    width: 100%;
    display: flex;
    max-width: 1200px;
    margin: 5px auto;
    padding: 16px;
    gap: 20px;
}

.summary-card {
    border-radius: 20px;
    box-shadow: 0 4px 24px rgba(0, 0, 0, 0.1);
    width: 100%;
    padding: 16px;
    border: 3px solid transparent
}

.monthly {
    border-bottom-color: #2ecc71;
}

.active-booking {
    border-bottom-color: #2eaccc;
}

.pending {
    border-bottom-color: #ccaf2e;
}

.dashboard-title-block {
    padding: 16px;
    width: 100%;
}

.h1-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logout-btn {
    background-color: #0d5c4d;
    color: #fff;
    padding: 8px 12px;
    border-radius: 4px;
    text-decoration: none;
    font-weight: 600;
}
